html, body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
    padding: 100px 0 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    padding-bottom: 60px;
    font-size: 20px;
}

.centered-img{  
    text-align: center;
    padding: 50px 0;
}

h1,p{
    text-align: center;
    background-color: rgb(150, 171, 246, 50%);
    margin: 0;  
}

ul{
    max-width: fit-content;
    margin:0 auto;
    font-size: 30px;
}

li{
    margin-bottom:20px;
}

.content-background{
    background-color: blanchedalmond;
    padding-bottom:100%;
}